{% load static %}<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>PROPOSTA - {{ proposta_base.cliente.nome }} - {{ proposta_base.data|date:"d F Y" }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  
  <link rel="stylesheet" href="{% static 'css/style-proposta.css' %}">
</head>
<body>
<div id="geral">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="img-logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="topo center">
            <h3><strong>CONTRATO DE PRESTAÇÃO DE SERVIÇO DE ASSESSORIA JURIDICA</strong></h3>
            <h4>MURILO HEYDE ASSESSORIA JURÍDICA - OAB/RS 97.756 OA/PT 33.356L</h4>
            <p>Rua:  - Bairro:  - Fone:  <br>
            Site: www.muriloheydeassessoria.com.br / Email: contato@seudominio.com.br  
            <br>Cidade - Estado</p>

      </div>
      </div>
      </div>
          <div class="row">
            <hr>
            <div class="informacao-cliente">
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <p> <strong>EMPRESA OU CLIENTE:</strong> {{ proposta_base.cliente.nome|upper }}</p>
                  {% if proposta_base.cpf %}
                  <p> <strong>CPF:</strong> {{ proposta_base.cpf }}</p>
                  {% else %}
                  <p> <strong>CNPJ:</strong> {{ proposta_base.cnpj }}</p>
                  {% endif %}
                  <p> <strong>ENDEREÇO:</strong> {{ proposta_base.endereco|upper }}</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <p> <strong>BAIRRO:</strong> {{ proposta_base.bairro|upper }}</p>
                  <p> <strong>CIDADE:</strong> {{ proposta_base.cidade|upper }}</p>
                  <p> <strong>ESTADO:</strong> {{ proposta_base.get_estado_display|upper  }}</p>
              </div>
            </div>
          </div>
    </div>

    <div class="container">
      <div class="row"><br>
<hr>
<strong>I – DO OBJETO DO CONTRATO</strong><br>
 
O presente instrumento tem como OBJETO a prestação de serviços advocatícios<br>
<hr>
<strong>II - DAS ATIVIDADES</strong><br>

 
As atividades inclusas na prestação de serviço objeto deste instrumento são todas aquelas inerentes à profissão, quais sejam:<br>
  <p class="espaco">
- Praticar quaisquer atos e medidas necessárias e inerentes à causa, em todas as repartições públicas da União, dos Estados ou dos Municípios, bem como órgãos a estes ligados direta ou indiretamente, seja por delegação, concessão ou outros meios, bem como de estabelecimentos particulares;;<br>
- Praticar todos os atos inerentes ao exercício da advocacia e aqueles constantes no Estatuto da Ordem dos Advogados do Brasil, bem como os especificados no Instrumento Procuratório;<br>
</p>
  <hr>
 <strong>III - DAS DESPESAS</strong><br>

 
 Todas as despesas efetuadas pelo CONTRATADO, ligadas direta ou indiretamente com o processo, incluindo-se fotocópias, emolumentos, viagens, custas, entre outros, ficarão a cargo da CONTRATANTE.<br>
Todas as despesas serão acompanhadas de recibo, devidamente preparado e assinado pelo CONTRATADO.<br>
 <p class="espaco">
  <hr>
<strong>IV - DA COBRANÇA</strong><br>


As partes acordam que facultará ao CONTRATADO, o direito de realizar a cobrança dos honorários por todos os meios admitidos em direito.<br>
 <hr>
 <strong>V - DOS HONORÁRIOS</strong><br>

Pelos serviços prestados, o CONTRATADO receberá a título de honorários contratados o percentual fixo de 30% sobre o proveito econômico obtido ao final da demananda, mais o valor de:<br>
- Valor: <b>R$ {{proposta_base.valor}}</b> <br>  

- O CONTRATANTE efetuará o pagamento do serviço da seguinte forma:<br>
<p class="espaco">
{% for item_da_proposta in proposta_base.pagamento_set.all %}

- <b>R$</b> {{item_da_proposta.valor}} <b>( {{item_da_proposta.valor_extenso|capfirst|upper}} )</b>, {{item_da_proposta.descricao|capfirst}}.<br>
 {% endfor %}
</p>
<hr>
<strong>VI - DA RESCISÃO DO CONTRATUAL</strong><br>

Agindo a CONTRATANTE de forma dolosa ou culposa em face do CONTRATADO, restará facultado a estes, rescindir o contrato, substabelecendo sem reserva de iguais e se exonerando de todas obrigações.<br>
 <hr>
<strong>VII - PRAZO DE VIGÊNCIA DO PRESENTE CONTRATO</strong><br>

Com exceção dos serviços de implantação do sistema o presente contrato vigorará por prazo determinado de 1 (um) ano, podendo ser renovado posteriormente.
 
E, por assim estarem justos e contratados, firmam o presente contrato em duas vias de igual teor e forma.<br>
<hr>
{% comment %} <strong>VIII – DADOS DO SITE E ADMINISTRAÇÃO</strong><br> 

  Para acesso a administração do site segue a baixo o site, loguin e senha.<br>

<b>DOMINIO:</b> www.{{proposta_base.dominio}}<br>
<b>DOMINIO ADMIN:</b> www.{{proposta_base.dominio}}/{{proposta_base.dominio_loguin}}<br>
<b>LOGUIN:</b> {{proposta_base.loguin}}<br>
<b>SENHA:</b> {{proposta_base.senha}}<br>
<b>BANCO DE DADOS:</b> {{proposta_base.loguin}}<br>
<b>SERVIDOR:</b> Wings Design – DigitalOcean USA<br><br>

<i>Obs. a senha informada para cada um dos itens acima pode ser modificada, por qualquer outra senha.</i><br>
<hr>
<strong>IX – SERVIÇOS DE EMAIL’S</strong><br>

<b>EMAIL:</b> email.{{proposta_base.dominio}}<br>
<b>USUÁRIO ADMIN:</b> contato@{{proposta_base.dominio}}<br>
<b>SENHA ADMIN:</b> @{{proposta_base.senha}}<br><br>

<i>Obs. a senha informada para cada um dos itens acima pode ser modificada, por qualquer outra senha.</i><br><br>

Poderão ser criadas até 10(dez) contas de E-mails capacidade de 5GB de armazenamentos. As criações de e-mails podem ser feitas através do e-mail principal 
<b>contato@{{proposta_base.dominio}}</b> 
Onde o Administrador pode adicionar, remover, bloquear, editar e excluir.<br> {% endcomment %}

<hr>
<strong><i>FORO: Para dirimir quaisquer controvérsias oriundas do CONTRATO, as partes elegem o foro da comarca de Osório/RS;<br>
  Por estarem assim justos e contratados, firmam o presente instrumento, em duas vias de igual teor.</i></strong> 
<br>
<hr>
<div class="validade"><i></i>Proposta válida por {{ proposta_base.get_validade_display }} dias</div><br> 

<div class="infor-data">OSÓRIO - RS - {{ proposta_base.data|date|upper }}</div></b><br>

<div class="separador text-center">
_________________________________________ <br> 
MURILO HEYDE <br> 
<p>OAB/RS 97.756 OA/PT 33.356L</p>


_________________________________________<br> 
{{proposta_base.cliente.nome}}<br> 
{% if proposta_base.cpf %}
  <p>CPF: {{ proposta_base.cpf }}</p>
{% else %}
  <p>CNPJ: {{ proposta_base.cnpj }}</p>
{% endif %}

      </div>
</div>
    </div>
</div>
</body>
</html>